apiVersion: apps/v1
kind: Deployment
metadata:
  name: blog-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: blog
  template:
    metadata:
      labels:
        app: blog
    spec:
      containers:
      - name: blog-service-container
        image: limjerry/playblog-blog-service:19
        imagePullPolicy: Always
        ports:
        - containerPort: 8081
