apiVersion: apps/v1
kind: Deployment
metadata: 
  name: discovery-deployment  # 이름 통일
spec: 
  replicas: 1
  selector:
    matchLabels:
      app: discovery  # 라벨 통일
  template: 
    metadata:
      labels:
        app: discovery
    spec:
      containers:
      - name: discovery-container
        image: limjerry/playblog-discovery-service:19
        imagePullPolicy: Always
        ports:
        - containerPort: 8761
