apiVersion: apps/v1
kind: Deployment
metadata: 
  name: user-deployment
spec: 
  replicas: 1
  selector:
    matchLabels:
      app: user
  template: 
    metadata:
      labels:
        app: user
    spec:
      containers:
      - name: user-container
        image: limjerry/playblog-user-service:18
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
